---
import Layout from '../layouts/Layout.astro';
import config from '../../public/config.json'
import React, { Component } from 'react'
import Tilt from 'react-parallax-tilt';
---


<script>
	import type {Config} from "../model/Config"
	fetch("../../public/config.json").then(res=>res.json()).then(data=>{
		const opt:Config = data
		document.documentElement.style.setProperty('--bg-color', opt.bgColor);
		document.documentElement.style.setProperty('--base-color', opt.baseColor);
		document.documentElement.style.setProperty('--accent-color', opt.accentColor);
	})
	
</script>
<Layout title="Welcome to Astro.">
	<main class={`w-creen h-screen bg-dynamic flex justify-center items-center`}>
		<Tilt
		client:visible
		style={{
			background: 'transparent',
		}}
		glareEnable={true} glareMaxOpacity={0.9} glareColor="white" glarePosition="all" glareBorderRadius="20px" gyroscope={true} glareReverse={true}
		>
			<div class="base-dynamic sm:w-[700px] w-[380px] sm:h-[400px] h-[500px] rounded-2xl flex flex-colum  p-5">
				<div class="grow flex flex-col">
					<div class="flex sm:flex-row flex-col">
						<div class="bg-slate-500 grow-0">
							<img src={config.logoSrc} class="w-[300px]">
						</div>
						<div class="mx-5 grow flex flex-col justify-center gap-2 h-auto">
							<h1 class="text-5xl">{config.head}</h1>
							<h1 class="text-2xl accent-dynamic">{config.subHead}</h1>
						</div>
					</div>
					<div class="flex justify-start items-center grow gap-3">
						{config.links.map(l=>(
							<a href={l.imgSrc} class=" opacity-90 hover:opacity-100">
								<img src={l.imgSrc} class="w-[60px]">

							</a>
						))}
					</div>
				</div>
				
				
			</div>
		</Tilt>
		
	</main>
</Layout>

<style scoped>
	@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap')
	:root {
		--bg-color: #000
		--base-color: #FFF
		--accent-color: #FFF
	}
	*{
		font-family: "League Spartan", sans-serif;
		font-optical-sizing: auto;
		font-weight: <weight>;
		font-style: normal;
	}
  .bg-dynamic {
    background-color: var(--bg-color);
  }
  .base-dynamic {
	background-color: var(--base-color);
  }
  .accent-dynamic {
	color: var(--accent-color);
  }
</style>